.UserPanel {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.UserOptions {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 5%;
   background-color: #f6f8fa;
   border-radius: 3%;
   border: 1px solid #d8dee4;
}

.UserOption {
   display: flex;
   width: 300px;
   margin: 3%;
   justify-content: space-between;
   align-items: center;
}

.UserPanelButtons {
   display: flex;
   width: 300px;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 20%;
}
